@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: white;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 10%;
  width: 1263px;
}
li,
a,
button {
  font-family: "Lato", sans-serif;
  font-weight: 650;
  font-size: 20px;
  text-decoration: none;
  color: black;
}
.logo {
  cursor: pointer;
}
.nav_links {
  list-style: none;
}
.nav_links li {
  display: inline-block;
  padding: 0px 22px;
}
.nav_links li a {
  transition: all 0.3s ease 0s;
}
.nav_links li a:hover {
  color: blueviolet;
}
.cta button {
  padding: 8px 20px;
  border-radius: 20px;
  transition-duration: 0.4s;
  cursor: pointer;
}
.cta button:hover {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}
.hero1 {
  display: flex;
  align-items: center;
  height: 500px;
  width: 1263px;
}
.content1 {
  width: 442px;
  padding: 32px;
  margin-top: 40px;
  margin-left: 94px;
  margin-right: 20px;
}
.content1 h2 {
  font-size: 30px;
  color: purple;
}
.content1 h1 {
  font-size: 55px;
  color: black;
}
.content1 par {
  font-size: 10px;
  margin-left: 10px;
}
.getQ {
  padding: 8px 20px;
  border-radius: 20px;
  border: 2px solid purple;
  transition-duration: 0.4s;
  cursor: pointer;
  margin-top: 30px;
  color: purple;
}
.getQ:hover {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}
.image1 {
  /* height: 400px; */
  margin-left: 65px;
}
.image1 img {
  width: 500px;
}
